body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg {
 /* background-image: url("bg\ \(2\).png"); */
 background-image: url("download.jfif");
 background-repeat: no-repeat;
 /* background-size: contain; */
 background-size: cover;
 height: 100vh;
 width: 98vw;
 background-position: center;
 background-attachment: fixed;
}

.container {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}





/* ---------------------
        Web Site Logo
------------------------ */

.logo {
    margin-top: 60px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}



/* ---------------------------------
            Search Div
------------------------------------ */

.search-div {
    display: flex;
    z-index: 3;
    height: 40px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
}

.search-div:hover {
    box-shadow: 0 1.5px 2.5px 0 rgb(60 64 67 / 30%), 0 1.5px 3.5px 1.5px rgb(60 64 67 / 15%);
}


/* -----------------------------
        Search Input Field
-------------------------------- */
.search-field {
    border: none;
    margin-left: 16px;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    /* height: 39px;
    line-height: normal; */
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    
}



/* --------------------------------
        All search button
----------------------------------- */
.camera-button, .mic-button, .search-button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 5px;
    margin: 3px;
}


.search-button {
    margin-right: 6px;
}